# Inlämning laboration 1.1

Vissa av uppgifterna i denna inlämning är inspirerade från följande källor:

- MyMachineLearningCourse in Python, licensierad  under GNU General Public License v3.0
- Software Carpentry Copyright ©Software Carpentry, http://software-carpentry.org/, licensierad under Creative Commons Attribution license,https://creativecommons.org/licenses/by/4.0/
- Geo Python (© Copyright 2017 Tenkanen & Whipp, University of Helsinki) licensierad under Creative Commons Attribution-ShareAlike 4.0 International licence https://creativecommons.org/licenses/by-sa/4.0/legalcode.
- Data 8 Foundations of Data Science från UCL Berkley licensierad under Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)


Laboration 1 ska genomföras i par, när ni arbetar med laborationen ska ni vara noga med att commita och pusha era ändringar till GitHub med jämna mellanrum. Detta är dels för att ni inte ska riskera att förlora något arbete men också för att det ska gå att följa ert arbete som lärare. När ni är färdiga med inlämningen ska ni göra en sista commit och sedan pusha den till er GitHub för assignment_1 som ni tilldelats via GitHub Classroom och dels spara ner deni HTML och lämna in i Studium. Endast en inlämning per grupp behövs. 

Det finns totalt 12 uppgifter och frågor i denna del av laborationen, samtliga ska besvaras för godkänt. 


DETTA ÄR ETT TEST

## Uppgift 1
Skriv ut dagens datum i formatet YYYY-MM-DD

In [9]:
#skriv din kod här
from datetime import datetime
datetime.today().strftime('%Y-%m-%d')

'2022-01-24'

## Uppgift 2  
Ett mycket vanligt sätt för att minupulera värden i Python är genom att ropa på funktioner. Det finns mängder med inbyggda sådana men det går också att skapa egna. [Här](https://docs.python.org/3/library/functions.html) finns en sammanställning av inbyggda funktioner som är tillgänliga per default i Python, men såklart finns det fler. 

Ett exempel på en inbyggd funktion är funktionen `abs`, denna funktion tar ett nummer som argument och returnerar det absoluta värdet av detta nummer. Det absoluta värdet är avståndet mellan 0 och numret, exempelvis är abs(5) alltså 5 och abs(-5) är också 5. 

För att definiera en funtion i Python används ordet def (det finns också anonyma funktioner där def inte används men det går vi inte igenom här). 

Definiera en funktion `max_of_three()` som tar tre olika nummer som argument och returnerar det största av dem, skriv ut resultatet.

In [10]:
#skriv din kod för uppgift 1 här
def max_of_three(n1, n2, n3):
  numbers = [n1, n2, n3]
  return max(numbers)
  
max_of_three(2, 7, 13)

13

## Uppgift 3  
Funktioner kan också ta flera argument, dessa separeras med hjälp av , exempelvis kan den inbyggda funtionen max ta emot flera argument i form av nummer och returnerar sedan det största av dem. Funktioner kan också ta listor eller andra datastrukturer som argument.

Definiera två olika funktioner en funktion`sum()` och en funktion`multiply()` som båda tar en lista med nummer som argument.  Därefter ska`sum()` summera alla nummer i listan medan `multiply()`ska multiplicera alla nummer. Skriv ut resultatet 

**Ex:** `sum([1, 2, 3, 4])` ska returnera 10, och `multiply([1, 2, 3, 4])` ska returnera 24.

In [7]:
def sumNumbers(a_list):
  summedList = sum(a_list)
  return summedList

def multiply(a_list):
  result = 1
  for x in a_list:
    result = result * x
  return result

listOfNumbers = [1, 2, 3, 4]
print(sumNumbers(listOfNumbers))
print(multiply(listOfNumbers))

10
24

## Uppgift 4

Funktioner kan också ta ett varierande antal argument, se exempelvis hur [här](https://book.pythontips.com/en/latest/args_and_kwargs.html)

**a.** Definiera en funktion som tar ett obestämt antal kommaseparerade nummer som argument och genererar en lista och en tuple som innehåller dessa nummer.

**b.** Vad är skillnaden mellan en lista och en tuple i Python?

In [14]:
#a.
def generator(*args):
  gen_tuple = args
  gen_list = [args]
  print(type(gen_tuple))
  print(gen_tuple)
  print(type(gen_list))
  print(gen_list)

generator(5, 77, 92, 35)

<class 'tuple'>
(5, 77, 92, 35)
<class 'list'>
[(5, 77, 92, 35)]

*Tuples är mer memmory efficient, samt att listor kan modifieras medans en tuple inte kan det*

## Uppgift 5 
Skapa två olika tal som integers. Kalkylera produkten av dessa, om produkten är **högre** än 200, returnera då summan av de två talen,är produkten **lägre eller lika med** 200 returnera då produkten, skriv ut resultatet. 

**Ex**
~~~
INPUT:  
`number1 = 10`  
`number2 = 20`

RESULT:  
The result is 200.
~~~

In [21]:
number1 = 10
number2 = 20

prod = number1*number2

if prod > 200:
  print(number1 + number2)
elif prod <= 200:
  print(prod)

200

## Uppgift 6 

Precis som i andra språk hanterar Python text som strängar (string). För att representera strängar kan både `"en textsnutt"` och `'en annan textsnutt'` användas. Det finns mängder med inbyggda metoder i strängklassen för att manipulera strängar. 

**a.** Givet en sträng, skriv ut de tecken (bokstäver eller mellanslag) som finns på alla ojämna indexplatser. 

**b.** Utveckla ovanstående funktion så att mellanslag inte skrivs ut utan endast index med bokstäver (fortfarande bara på ojämna indexplatser).

In [39]:
#a
word = 'This is a test to see if it wpoks'[::2]
print(word)

#b
print(word.replace(' ', ''))

Ti sats osei twos
Tisatsoseitwos

## Uppgift 7
**a** Skapa en sträng som innehåller 4 olika ord, separerade med ; Använd den inbyggda funktionen `split()`och skriv ut de fyra orden på varsin rad.

**b** Varför var denna övning viktig inför framtida analys av strukturerad data?

**c** Det finns också inbyggda funktioner för att beräkna längden på en sträng, leta reda på en lämplig sådan i dokumentationen [här](https://docs.python.org/3/library/functions.html). Använd funktionen för att beräkna längden på strängen som återfinns i variablen `a_very_long_sentence`i kodcellen nedan och spara i variablen ´sentence_length´. 

**d** Vad för tecken är inkluderade när längden beräknas?

In [45]:
#a
fourWords = 'This; is; a; test'

splitWords = fourWords.split('; ')
for x in splitWords:
  print(x)

This
is
a
test

# 7 b
Det är viktigt att kunna dela upp data efter olika typer och split funktionen kan ta in de typerna som argument

In [47]:
a_very_long_sentence = "The representatives of the French people, organized as a National Assembly, believing that the ignorance, neglect, or contempt of the rights of man are the sole cause of public calamities and of the corruption of governments, have determined to set forth in a solemn declaration the natural, unalienable, and sacred rights of man, in order that this declaration, being constantly before all the members of the Social body, shall remind them continually of their rights and duties; in order that the acts of the legislative power, as well as those of the executive power, may be compared at any moment with the objects and purposes of all political institutions and may thus be more respected, and, lastly, in order that the grievances of the citizens, based hereafter upon simple and incontestable principles, shall tend to the maintenance of the constitution and redound to the happiness of all."
sentence_length = len(a_very_long_sentence)
#Detta sätt att skriva en variabel är väldigt vanlig och resulterar i att innehållet i variabeln skrivs ut, 
#dock endast det senaste innehållet i den sist skrivna variabeln, det går alltså inte att skriva ut en lista med variabler på detta sätt. 
print(sentence_length)

896

# 7 d
Den retunerar varje karaktär i objektet

## Uppgift 8

Beräkna inkomstskatten för några olika personer med olika inkomst, använd nedanstående tabell för att se reglerna för inkomstskatt för olika inkomster. Skriv ut varje persons inkomst och skatt på en egen rad. 

| Inkomst  | Skatt (%) |
|----------|-----------|
| <=10 000 |     0     |
| <=30 000 |     20    |
| > 30 000 |     40    |


**Ex**

~~~
En person med en inkomst på 35000 ska betala 10 000*0 + 20 000*0,2 + 5000*0,4 = 6000 kr i skatt.
~~~

In [37]:
people = {
    'Felix': 29000,
    'Viktor': 100000
}

testList = list(people.items())
print(testList)
listOfIncomes = list(people.values())

for x in listOfIncomes: 
  fullTax = 0
  income = x
  if income > 30000:
    #Calculating what to tax
    fortyTax = income - 30000
    fullTax = fortyTax * 0.4
    #What's left to tax
    fullTax += 20000 * 0.2
    #Tax
    print('Skatt: ', fullTax)

  elif income <= 30000:
    twentyTax = income - 10000
    fullTax += twentyTax * 0.2
    print('Skatt: ', fullTax)
    
  elif income <= 10000:
    print('Grattis, du slapp skatten!')

[('Felix', 29000), ('Viktor', 100000)]
Skatt:  3800.0
Skatt:  32000.0

## Uppgift 9

Skapa en strängvariabel som du döper till name och spara ditt förnamn och efternamn i en enda sträng i denna variabel.

Skapa en integervariabel som du döper till iceCreamRating och använd denna för att spara ettnummer mellan 0 till 10 som speglar hur mycket du tycker om glass.

Koda sedan i Python något som ger ungefär denna output:

Mitt namn är Elin Uppström och jag ger glassätning 7 poäng av 10 möjliga!

**OBS!** Elin Uppström ska såklart bestå av innehållet i variabeln name och poängen ska komma från variabeln iceCreamRating

In [39]:
name = 'Felix Höglund'
iceCreamRating = 8
print('Mitt namn är', name, 'och jag ger glassätning', iceCreamRating, 'poäng av 10 möjliga!')

Mitt namn är Felix Höglund och jag ger glassätning 8 poäng av 10 möjliga!

## Uppgift 10

a. För att konvertera sekunder till sekunder, minuter och timmar kan följande metod användas med "brute force". 
~~~
def convert(seconds): 
    seconds = seconds % (24 * 3600) 
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
      
    return "%d:%02d:%02d" % (hour, minutes, seconds) 
      
# Driver program 
n = 12345
print(convert(n)) 

~~~

Istället för brute force, skapa två olika förslag på hur samma sak kan åstadkommas med hjälp av Pythons inbyggda bibliotek som ni hittar [här](https://docs.python.org/3/library/index.html).

In [49]:
import datetime

secondsN = 16851

# 10.1
print(str(datetime.timedelta(seconds = secondsN)))

# 10.2
minutes, secondsN = divmod(secondsN, 60)
hours, minutes = divmod(minutes, 60)

print('%d:%02d:%02d' % (hours, minutes, secondsN))

4:40:51
4:40:51

## Uppgift 11

I filen som heter smhi_vaderdata.csv finns ett helt dyngs väderdata från Visby flygplats, nämligen från den 28 augusti 11.00 till den 29 augusti 11.00. I denna övning ska ni använda denna data och utföra ett antal uppgifter. För att importera den data som finns används ett externt bibliotek som heter pandas som vi kommer använda oss mycket av framöver. Denna gång får ni dock filen importerad åt er samt de olika temperaturerna inlagda i en lista. När ni sedan skriver er egen kod gör ni detta i ett nytt kodblock. 

a. Skapa tomma listor för olika typer av temperatur, exempelvis varmt, ljummet, kallt etc. Minst tre olika typer av temperaturer ska ingå. 

b. Iterera över listan och sortera in de olika temperaturerna i de skapade temperaturtyperna, 

**Ex** 
~~~
temperatur över 18 grader ska till listan med varma temperaturer
~~~

c. Ange hur många timmar under dygnet de olika temperaturtyperna förekommit. 

**Ex**

~~~
Det var varmt fem timmar under dygnet.
Det var ljummet åtta timmar under dygnet.
Det var inte kallt någon timme under dygnet.
~~~

d. Förklara vilka argument `read_csv` kan ta och vad de två argument som skickas med i nedanstående kod betyder. 

e. Vad är den första kolumnen i den dataframe som skapas i koden nedan (ni måste köra koden för att resultatet ska synas.)

In [ ]:
#importerar pandas och hämtar data från csv-filen till en dataFrame
import pandas as pd
temperature_df= pd.read_csv("Data/smhi_vaderdata.csv", sep=';')
temperature_df

In [ ]:
#skapar en lista med enbart temperatur
temperature = temperature_df['Lufttemperatur']
temperature

In [ ]:
#Din kod för uppgift a här..

## Uppgift 12

Restaurang varvet har börjat använda swish i hög utsträckning, dock har de ett problem. Kassans dagliga sammanställning stämmer inte med summan som levereras från banken på hur mycket pengar som inkommit. Anledningen är att banken inte sammanställer swishinkomster per dag. Ägaren behöver därför göra detta manuellt vilket tar mycket tid. 

Uppgiften är därmed att beräkna en totalsumma av swishinbetalningar per dag och leverera denna sammanställning i en ny fil som ni sedan kan skicka till ägaren för att underlätta dennes arbete. Ni läser in filen på samma sätt som i föregående övning, även denna fil har ; som separator. Som hjälp har också de bibliotek ni behöver för att genomföra uppgiften importerats. Skapa lämligt antal nya kodblock för att utföra uppgiften samt besvara följande fråga som behandlar ett potentiellt problem med inläsningen av filen, ni behöver lösa detta problem för att kunna beräkna de dagliga intäkerna från swish. 

**FRÅGA:** Pandas är utvecklat på amerikansk standard medan .csv-filen använder europeiskt standard för att skriva siffror, detta kan skapa potentiella problem när det gäller behandlingen av data i sifferform, vad är det för formatering som skapar problem och vad är en lösning?

In [ ]:
#Importerar nädvändiga bibliotek
import pandas as pd
import dateutil
import csv as csv

När ni är färdiga med laborationen ska ni redovisa den muntligt för en handledare, företrädesvis på redan schemalagda handledningstider. Nii ni fått godkänt på uppgiften, eller kompletterat eventuella felaktigheter som uppkommit på redovisningen ska ni lämna in länken till ert repository i GitHub i Studium under Laboration 1 redovisning och inlämning. Glöm inte att också lägga till en knapp för att öppna filen direkt i colaboratory (instruktion finns i code along 1). 

Alla celler ska vara körda och alla svar sparade. Koden ska inte heller inehålla några fel vid körning i colaboratory.  

**Lycka till!**